@font-face {
	font-family: 'alegreya';
	src: url('alegreya-extra-bold.woff') format('woff'); /* Pretty Modern Browsers */
}
body {
	font-family: helvetica;
}
#header {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.logo {
	display: block;
	text-align: center;
	margin-top: 60px;
	color: #fff;
	font-size: 10em;
	line-height: 130px;
	will-change: transform;
	font-family: 'alegreya';
	text-shadow: 0px 1px 2px #000;
}
.logosvg {
	display: block;
	margin-top: 60px;
	width: 500px;
	margin: 0 auto;
}

.container {
	height: 500px;
	position: relative;
}

.container1 {
	background: #286dab;
}
.container2 {
	background: #cd5360;
}
.container3 {
	background: #438496;
}
.container4 {
	background: #b37d4e;
}
